<!doctype html>
<html lang="en">

<body>
   <section class="todohome">
      Hello <b>
         <%= userDisplayName%>
      </b>
      ,
      This is protected route.
   </section>
   <a role="button" href="/auth/logout">Logout</a>
</body>

</html>